.task-list-item {
    position: relative;
}

.task-list-item:hover > .task-list-item__action-buttons {
    display: flex;
}

.task-list-item .task-list-item__action-buttons {
    display: none;
    flex-direction: row;
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: inherit;
}