.task-list-item {
    position: relative;
}

.task-list-item .task-list-item__action-buttons, .task-list-item .task-list-item__status-badge{
    flex-direction: row;
    position: absolute;
    right: 1em;
    background-color: inherit;
}

.task-list-item:hover > .task-list-item__action-buttons {
    display: flex;
    top: .3rem;
}

.task-list-item .task-list-item__action-buttons{
    display: none;
}

.task-list-item:hover > .task-list-item__status-badge {
    display: none;
}

.task-list-item .task-list-item__status-badge{
    display: flex;
    top: .7em;
}

.task-list-item .task-list-item__action-buttons button {
    margin: 0 .2em;
}